@keyframes salto {
    0%{
        scale: 1
    }

    50%{
        scale: 1.5
    }

    100%{
        scale: 1
    }
}

.letra-svg{
    animation: salto 2s infinite ease-in;
}

#L2{
    animation-delay: 100ms;
}

#L3{
    animation-delay: 200ms;
}

#L4{
    animation-delay: 300ms;
}

#L5{
    animation-delay: 400ms;
}

#L6{
    animation-delay: 500ms;
}

#L7{
    animation-delay: 600ms;
}

#L8{
    animation-delay: 700ms;
}

#L9{
    animation-delay: 800ms;
}

#L10{
    animation-delay: 900ms;
}

#L11{
    animation-delay: 1000ms;
}

#L12{
    animation-delay: 1100ms;
}

/* --- ANIMACIÓN IMAGEN ---*/

@keyframes morph {

    0%{
        background-image: url(/WhatsApp-Image-2025.jpeg);
    }

    50%{
        background-image: url(/Gv_8UyrWAAAdZt1.jpeg);
    }

    100%{
        background-image: url(/WhatsApp-Image-2025.jpeg);
    }
    
}

#user-pic{
    animation: morph  10s infinite ease;
}

/* IMAGEN */

.contenedor-hijo:hover #user-pic{
    background-image: url(/FOTO2.jpeg);
    animation: none;
}

/*--- ANIMACIÓN HOVER ---*/

.contenedor-hijo{
    box-shadow: 0 0 0 0;
    transition: 400ms;
}

.contenedor-hijo:hover{
    box-shadow: 10px 10px 100px 10px;
    scale: 1.03;
    transition: 400ms;
}

/* HOVER HTML Y CSSS */

@keyframes rainbow {

    0%{
        color: red;
    }
    5%{
        color: orangered;
    }
    10%{
        color: orange;
    }
    15%{
        color: yellow;
    }
    20%{
        color: yellowgreen;
    }
    25%{
        color: greenyellow;
    }
    30%{
        color: green;
    }
    35%{
        color: lightgreen;
    }
    40%{
        color: lightseagreen;
    }
    45%{
        color: lightskyblue;
    }
    50%{
        color: cyan;
    }
    55%{
        color: blue;
    }
    60%{
        color: blueviolet;
    }
    65%{
        color: violet;
    }
   100%{
        color: red;
    }    
}

.contenedor-hijo span{
    transition: 5s;
}

.contenedor-hijo:hover span{
    
    transition: 5s;
    animation: rainbow 20s infinite ease-out;
    font-weight: bolder;
}

/* POLLO */

#contenedor-pollo::before{
    height: 300px;
    content: "SORPRESA FINAL";
    transition: 3s;
}

.contenedor-hijo:hover > #contenedor-pollo::before{
    
    color:aqua;
    height: 300px;
    content: url(./trans-chicken-walking.gif);
    transition: 3s;
}


