:root {
  color-scheme: light dark; /* Indicates support for both light and dark modes */
}


/* Fondo para modo claro */
@media (prefers-color-scheme: light) {
  body {
    background-image: url(/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

/* Fondo para modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-image: url(/layered-waves-haikei-dark.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


  }
}
