@media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)
{

    #header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        padding: 10px;
    }


    #titulo-contenedor{
        display: flex;
        justify-content: center;
        align-items: center;

        margin:  0;

        height: 100%;    
        /*background-color: #001220;
        width: 100%;*/
    }
    #contenedor-utn{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo-utn{
        width: 20px;
        height: 20px;
    }

    #nombre-contenedor{
        margin:0;
        flex-shrink: 1;
    }

    .letra-svg{
        height: 20px;
        width: 20px;
        margin: 1px
    }

    .contenedor-padre{
        height: 200vh;
    }

    .contenedor-hijo{
        width: 50vw;
        height: 30vh;
    }

    #user-pic{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

}
